{% extends "auctions/layout.html" %}

{% block body %}

<h2>Edit Listing</h2>

    {% if message %}
        <div class="alert {% if errors %}alert-danger{% else %}alert-success{% endif %}" role="alert">
            {{ message }}
            {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required 
           value="{{ listing.title|default:'' }}">
        <input type="text" name="description" placeholder="Description" required
            value="{{ listing.description|default:'' }}">
        <input type="number" name="starting_bid" placeholder="Starting bid" required
            value="{{ listing.starting_bid|default:'' }}" step="0.01" min="0.01">
        <input type="url" name="url" placeholder="Image URL (optional)"
            value="{{ listing.url|default:'' }}">
        <input type="submit" value="Edit Listing">
    </form>

{% endblock %}