{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing Page</h2>
    <h3>{{ listing.title }}</h3>
    <p>{{ listing.description }}</p>
    <p>Starting bid: {{ listing.starting_bid }}</p>
    <p>Current price: {{ listing.current_price }}</p>
    {% if listing.categories.all %}
        <p>Categories: 
            {% for category in listing.categories.all %}
                {{ category.category }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {% if listing.url %}
        <img src="{{ listing.url }}" alt="{{ listing.title }}" class="listing-image">
    {% endif %}
    
    <!--Logged in only-->
    {% if user.is_authenticated %}
        <form action="{% url 'listing_page' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="number" name="bid_price" placeholder="Bid price" required
                value="{% if bid_price %}{{ bid_price }}{% else %}{{ listing.current_price }}{% endif %}" step="0.01" min="{{ listing.current_price }}">
            <input type="submit" value="Bid">
        </form>
    {% endif %}

    <!--Listing creater only-->
    {% if user == listing.created_by %}
        <a href="{% url 'edit_listing' listing.id %}" class="btn btn-primary">Edit Listing</a>
    {% endif %}

{% endblock %}