{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing Page</h2>
    <h3>{{ listing.title }}</h3>
    <p>{{ listing.description }}</p>
    <p>Current price: {{ listing.current_price }}</p>
    {% if listing.url %}
        <img src="{{ listing.url }}" alt="{{ listing.title }}" class="listing-image">
    {% endif %}
    {% if user == listing.created_by %}
        <p><a href = "{% url 'edit_listing' listing.id %}" class="btn btn-primary"></a>Edit Listing</p>
    {% endif %}

{% endblock %}