{% extends "encyclopedia/layout.html" %}

{% block title %}
    New page
{% endblock %}

{% block body %}
    <h1>Create new page</h1>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content" placeholder="Enter your Markdown content here" required></textarea>
        <button type="submit">Save Page</button>
    </form>
{% endblock %}